html,
body {
	margin: 0;
	height: 100%;
	background-color: hsl(204, 80%, 7.5%);
	color: rgba(255, 255, 255, 0.5);
}

* {
	font-family: 'Ubuntu', sans-serif;
	color: white;
}

#title {
	margin: 0 auto;
	width: fit-content;
	font-weight: 600;
	padding: 10px;
}

#selection {
	margin: 0 auto;
	margin-top: 50px;
	padding: 30px;
	width: calc(100% - 100px);
	background-color: rgba(255, 255, 255, .05);
	height: fit-content;
	border-radius: 5px;
}

.info {
	font-size: 27px;
	text-align: center;
}

#os {
	height: fit-content;
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding: 0;
}

.selectOS {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: rgba(255, 255, 255, .5);
	position: relative;
	width: 160px;
	height: 170px;
	text-decoration: none;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	transition: transform 300ms ease-in-out;
}

.selectOS:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.selectOS:hover .names::after {
	width: 100%;
}

.names {
	position: relative;
	color: hsl(204, 80%, 7.5%);
}

.names::after {
	content: '';
	width: 0%;
	height: 2px;
	right: 0;
	left: 0;
	margin: 0 auto;
	bottom: -1px;
	background-color: black;
	position: absolute;
	transition: width 400ms ease-in-out;
}

.icon {
	width: 70px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon svg {
	fill: hsl(204, 80%, 7.5%);
	width: 65px;
}

#customize {
	padding: 10px 30px;
	color: hsl(204, 80%, 7.5%);
	font-size: 20px;
	background-color: rgba(255, 255, 255, .5);
	border: none;
	border-radius: 5px;
	width: fit-content;
	margin: 0 auto;
	display: block;
	transition: opacity 200ms ease-in-out;
}

#customize:hover {
	cursor: pointer;
	opacity: .7;
}

label {
	font-size: 20px;
}

#color {
	border: 1px white solid;
	border-radius: 5px;
	width: 20px;
	height: 20px;
}