html {
	font-size: 0.8vw;
}

* {
	box-sizing: content-box;
	font-family: 'Ubuntu', sans-serif;
	letter-spacing: .2px;
}

body {
	background-color: hsl(204, 80%, 7.5%);
	color: rgba(255, 255, 255, 0.5);
	font-family: 'Segoe UI';
	margin: 0;
	line-height: 1.3;
	display: flex;
	min-height: 100vh;
}

#wrap {
	padding: 1vw;
	display: flex;
	justify-content: space-around;
	margin: auto;
	flex: 1 1 auto;
}

.column {
	width: 30%;
	overflow-y: auto;
}

.logo-title {
	display: flex;
	align-items: center;
	padding: 0 0 1vw;
}

.logo {
	width: 5vw;
}

.title {
	flex: 1 1 auto;
}

h1,
h2 {
	margin: 0;
	text-align: center;
	font-weight: normal;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	margin-bottom: 0.5vw;
}

.shortcut {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

.shortcut th {
	text-align: left;
	width: 35%;
	font-weight: normal;
}

.shortcut tr:nth-child(odd) {
	background-color: rgba(255, 255, 255, 0.05);
}